body {
  margin: 0;
  padding: 0 10px;
}

.box {
  position: relative;
}

img[data-src] {
  filter: blur(.2em);
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: blur(0em);
  transition: filter .5s;
}
